# Ignore virtual environment
.venv/
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore temporary folders
.ipynb_checkpoints/

# Ignore processed & raw data (optional)
data/raw/
data/processed/

# VS Code settings
.vscode/
